/* You can add global styles to this file, and also import other style files */

$primary-color: #8dc63f;
$secondary-color: #fff;
$menu-background-color: #373737;
$black-color: #000;
$round-button: #fcfcfc;
