@import "../../styles";

* {
  padding: 0;
  margin: 0;
}
.top-bg {
  background-color: $black-color;
  height: 20px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.navbar-light .navbar-brand {
  color: $secondary-color;
}
.navbar {
  position: fixed;
  padding: 0;
  border: none;
  background: $menu-background-color;
  width: 100%;
  z-index: 1;
  .navbar-toggler {
    background-color: $secondary-color;
  }
  .navbar-collapse {
    margin-bottom: -6px;
    // .tabs-header {
    //   padding-top: 2rem;
    // }
    .navbar-nav {
      margin: 0 auto;
      a {
        width: 105px;
        text-align: center;
      }
      .nav-link {
        display: inline-block;
        margin-right: 120px;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        padding-top: 35px;
        padding-bottom: 15px;
        color: $secondary-color;
        cursor: pointer;
        border: none;
        color: $secondary-color;
        margin: 6px 10px;
        &:hover,
        &:focus {
          background-color: $primary-color;
          color: $secondary-color;
        }
        &.active {
          color: #f3f3f3;
          background-color: $primary-color;
        }
      }
    }
  }
}

.tabs-container {
  padding-top: 7rem;
  text-align: center;
  .tabs-content {
    position: relative;
    img {
      border-radius: 18px;
      width: 262px;
      height: 174px;
    }
    &:hover:hover .play {
      display: block;
    }
    &:hover .ribbon span {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  .play {
    position: absolute;
    display: none;
    top: 33%;
    width: 100%;
    margin: 0 auto;
    left: 0px;
    right: 12px;
    .fa-2x {
      font-size: 1em;
    }
    .show-games {
      font-size: 1.3rem;
      color: #fff;
      font-weight: 900;
      position: relative;
      top: 28px;
      text-shadow: 0px 0px 3px $black-color;
    }
  }
  .round-button {
    box-sizing: border-box;
    display: block;
    width: 55px;
    margin: 0 auto;
    height: 52px;
    padding-top: 10px;
    padding-left: 4px;
    line-height: 14px;
    border: 6px solid $secondary-color;
    border-radius: 50%;
    color: $round-button;
    text-align: center;
    text-decoration: none;
    background-color: $primary-color;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .round-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
    text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  }
  .ribbon {
    position: absolute;
    right: 9px;
    top: -1px;
    /* overflow: hidden; */
    width: 92px;
    height: 120px;
    text-align: right;
  }
  .ribbon span {
    font-size: 1.2rem;
    font-weight: bold;
    color: $secondary-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 121px;
    display: block;
    background-color: $primary-color;
    box-shadow: 0 3px 10px -5px $black-color;
    position: absolute;
    top: 19px;
    right: -36px;
  }
  .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid $primary-color;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $primary-color;
  }
  .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid $primary-color;
    border-bottom: 3px solid transparent;
    border-top: 3px solid $primary-color;
  }
}

.tabs-nav ul {
  margin: 0;
  padding: 0;
}

.tabs-nav li {
  display: inline-block;
}

.tabs-nav a {
  display: block;
  color: $secondary-color;
}

.tabs-nav li.active {
  background: $primary-color;
  color: $secondary-color;
  position: relative;
}

.tabs-nav li.active a {
  color: inherit;
}

.tabs-content {
  padding: 5px;
  background: $secondary-color;
  margin-top: 7px;
  overflow: hidden;
  display: inline-block;
}

.tabs-content div:not(:first-child) {
  display: block !important;
}
.available-games {
  padding-top: 30px;
}
.jackport {
  position: absolute;
  top: 1rem;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: $secondary-color;
  font-size: 1.3rem;
  color: $secondary-color;
  font-weight: 800;
  .jackport-amount {
    text-shadow: 0px 0px 3px $black-color;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
    top: 1.2rem;
    padding: 9px;
    .navbar-nav {
      padding-top: 20px;
      .nav-link {
        display: inline-block;
        font-size: 1.2rem !important;
        padding-top: 0 !important;
        margin: 4px 9px;
        a {
          text-align: left !important;
          padding: 4px;
          width: 140px;
        }
      }
    }
  }
  .tabs-container {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .nav-link {
    font-size: 0.9rem !important;
    margin: 6px -10px !important;
  }
}
